################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SafeguardSystem.Web/SafeguardSystem.Web.csproj
/SafeguardSystem.Web/appsettings.json
/SafeguardSystem.DAL/DBContext/SafeguardDbContext.cs
/SafeguardSystem.DAL/Migrations/20250223035019_InitialMigration.cs
/SafeguardSystem.DAL/Migrations/SafeguardDbContextModelSnapshot.cs
/SafeguardSystem.Web/firebase.json
/SafeguardSystem.DAL/Migrations/20250223170449_InitialMigration.cs
